<html>
	<head>
		<title>Le blog de Totor</title>
	</head>
	<body>
		<div>
			<h1><a href="">Le blog de Totor</a></h1>
		</div>

		<div>
			<p>publié le 8 février 2019 à 11:00</p>
			<h2><a href="">Mon premier billet</a></h2>
			<p>Notre adhérente Mme BILLOU, demeurant 11 rue Dutruc 75006 PARIS rencontre avec votre société le problème suivant.
Le 12 septembre 2017, notre adhérente achète un ordinateur à la FNAC Montparnasse à Paris et souscrit lors de l’achat une assurance vol auprès de la SFAM.
Le 10 décembre 2018 elle est victime d’un vol de son portable. Elle porte plainte auprès du commissariat d’arrondissement.</p>
		</div>

		<div>
			<p>publié demain 9 février 2019 à 11:00</p>
			<h2><a href="">Mon second billet</a></h2>
			<p>Le 12 décembre, Mme BILLOU déclare le vol auprès de la SFAM par mail. Elle en reçoit notification par SMS le 13 décembre.
Elle est rappelée quelques jours plus tard par un conseiller lui affirmant que la garantie ne pouvait jouer étant donné que son nom ne figurait pas sur le ticket de caisse. Ce à quoi, il lui a été répondu que la FNAC n’apposait jamais les noms sur les tickets de caisse.
N’ayant plus de nouvelles, Mme BILLOU rappelle SFAM et un conseiller lui affirme qu’elle ne figure pas sur les listes de la SFAM.</p>
		</div>
	</body>

</html>
